{% set secrets = service_common_infisical_values %}
libraries:
  Movies:
    remove_overlays: false
    collection_files:
      - default: imdb
        template_variables:
          use_all: false
          use_top: true
          use_lowest: true
      - default: letterboxd
        template_variables:
          use_all: false
          use_rogerebert: true
          use_most_fans: true
          use_afi_100: true
      - default: other_chart
        template_variables:
          use_all: false
          use_pirated: true
    overlay_files:
      - default: ribbon
  TV Shows:
    remove_overlays: false
    collection_files:
      - default: basic
      - default: imdb
    overlay_files:
      - default: ribbon
playlist_files:
  - default: playlist
    template_variables:
      libraries: Movies, TV Shows
settings:
  run_order:
  - operations
  - metadata
  - collections
  - overlays
  cache: true
  cache_expiration: 60
  asset_directory: /config/assets
  asset_folders: true
  asset_depth: 0
  create_asset_folders: false
  prioritize_assets: false
  dimensional_asset_rename: false
  download_url_assets: false
  show_missing_season_assets: false
  show_missing_episode_assets: false
  show_asset_not_needed: true
  sync_mode: append
  minimum_items: 1
  default_collection_order:
  delete_below_minimum: true
  delete_not_scheduled: false
  run_again_delay: 2
  missing_only_released: false
  only_filter_missing: false
  show_unmanaged: true
  show_unconfigured: true
  show_filtered: false
  show_options: true
  show_missing: true
  show_missing_assets: true
  save_report: false
  tvdb_language: eng
  ignore_ids:
  ignore_imdb_ids:
  item_refresh_delay: 0
  playlist_sync_to_users: all
  playlist_exclude_users:
  playlist_report: false
  verify_ssl: true
  custom_repo:
  overlay_artwork_filetype: jpg
  overlay_artwork_quality: 75
plex:  # Can be individually specified per library as well; REQUIRED for the script to run
  url: http://{{ hostvars[services_plex_host].local_ip }}:32400
  token: {{ secrets.plex_token }}
  timeout: 60
  db_cache:
  clean_bundles: false
  empty_trash: false
  optimize: false
  verify_ssl:
tmdb:  # REQUIRED for the script to run
  apikey: {{ secrets.tmdb_api }}
  language: en
  cache_expiration: 60
  region:
tautulli:  # Can be individually specified per library as well
  url: https://tautulli.{{ services_internal_zone }}:{{ services_private_https_port }}
  apikey: {{ secrets.tautulli_api }}
mdblist:
  apikey: {{ secrets.mdblist_api }}
  cache_expiration: 60
radarr:  # Can be individually specified per library as well
  url: https://radarr.{{ services_internal_zone }}:{{ services_private_https_port }}
  token: {{ secrets.radarr_api }}
  add_missing: false
  add_existing: false
  upgrade_existing: false
  monitor_existing: false
  root_folder_path: /data/media/movies
  monitor: true
  availability: announced
  quality_profile: Remux + WEB 1080p
  tag:
  search: false
  radarr_path:
  plex_path:
  ignore_cache: false
sonarr:  # Can be individually specified per library as well
  url: https://sonarr.{{ services_internal_zone }}:{{ services_private_https_port }}
  token: {{ secrets.sonarr_api }}
  add_missing: false
  add_existing: false
  upgrade_existing: false
  monitor_existing: false
  root_folder_path: /data/media/tv
  monitor: all
  quality_profile: WEB-1080p (Alternative)
  language_profile: English
  series_type: standard
  season_folder: true
  tag:
  search: false
  cutoff_search: false
  sonarr_path:
  plex_path:
  ignore_cache: false
trakt:
  client_id: {{ secrets.trakt_id }}
  client_secret: {{ secrets.trakt_secret }}
  pin:
  authorization:
    # everything below is autofilled by the script
    access_token:
    token_type:
    expires_in:
    refresh_token:
    scope: public
    created_at:
