{% set postgres_pass = service_common_infisical_values.postgres_pass %}
{% set postgres_user = service_common_infisical_values.postgres_user %}
PORT=5055
DB_TYPE=postgres
DB_HOST=haproxy
DB_PORT=5432
DB_USER={{ postgres_user }}
DB_PASS={{ postgres_pass }}
DB_NAME=seerr
DB_LOG_QUERIES=false
