---

tls:
  options:
    securetls:
      minVersion: 'VersionTLS12'
      cipherSuites:
        - 'TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256'
        - 'TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256'
        - 'TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384'
        - 'TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384'
        - 'TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305'
        - 'TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305'

http:
  middlewares:
    gzip:
      compress: {}

    autodetect:
      contentType:
        autoDetect: true

    secure-headers:
      headers:
        contentTypeNosniff: true
        frameDeny: false
        browserXssFilter: false

        customResponseHeaders:
          server: ""
          Permissions-Policy: "geolocation=(), microphone=(), camera=()"
          Referrer-Policy: "no-referrer"

    netbox-headers:
      headers:
        contentTypeNosniff: true
        frameDeny: false
        browserXssFilter: false

        customResponseHeaders:
          server: ""
          Permissions-Policy: "geolocation=(), microphone=(), camera=()"
          Referrer-Policy: "same-origin"

    hsts:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: false
        forceSTSHeader: true

    robots-noindex:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "noindex, nofollow, noarchive, nosnippet"

  serversTransports:
    insecure-skipverify:
      insecureSkipVerify: true