---

name: {{ postgres_etcd_node_name }}
data-dir: {{ postgres_etcd_data_dir }}

listen-client-urls: http://{{ local_ip }}:{{ postgres_etcd_client_port }},http://127.0.0.1:{{ postgres_etcd_client_port }}
advertise-client-urls: http://{{ local_ip }}:{{ postgres_etcd_client_port }}

listen-peer-urls: http://{{ local_ip }}:{{ postgres_etcd_peer_port }}
initial-advertise-peer-urls: http://{{ local_ip }}:{{ postgres_etcd_peer_port }}

initial-cluster: {{ postgres_etcd_initial_cluster | replace(' ', '') }}
initial-cluster-state: new
initial-cluster-token: {{ postgres_etcd_cluster_token }}
