---

################################
# HUGO
################################

hugo_cloudflare_zone: "replace-me"

################################
# INFISICAL (COLLECTION)
################################

infisical_auth_client_id: "replace-me"

infisical_auth_client_secret: "replace-me"

infisical_project_id: "replace-me"

################################
# INFISICAL (STACK)
################################

infisical_enc_key: "replace-me"

infisical_jwt_key: "replace-me"

infisical_postgres_user: "replace-me"

infisical_postgres_pass: "replace-me"

infisical_redis_key: "replace-me"

infisical_smtp_email: "replace-me"

infisical_smtp_user: "replace-me"

infisical_smtp_pass: "replace-me"

infisical_smtp_sender: "replace-me"

infisical_domain: "replace-me"

################################
# POSTGRES CLUSTER
################################

postgres_patroni_superuser_pass: "replace-me"

postgres_patroni_replication_pass: "replace-me"

postgres_patroni_admin_role_name: "replace-me"

postgres_patroni_admin_role_pass: "replace-me"

################################
# PROXMOX (TERRAFORM API)
################################

proxmox_api_bootstrap_password: "replace-me"

################################
# NETBOX
################################

netbox_superuser_email: "replace-me"

netbox_superuser_password: "replace-me"

netbox_postgres_user: "replace-me"

netbox_postgres_pass: "replace-me"

netbox_redis_password: "replace-me"

netbox_domain: "replace-me"
