
.vscode/
ansible/collections/
ansible/group_vars/all/vault.yml
**/hosts.ini
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/secrets.auto.tfvars