[defaults]
# Where Ansible looks for collections
collections_path = collections

# Where Ansible looks for roles
roles_path = roles:helpers:prep

# Other useful defaults
inventory = hosts.ini

log_path = /var/log/ansible/ansible.log