cloudflare_zone = "domain.com"
internal_zone = "int.domain.com"

host_private_values = {
  router = {
    mgmt_ip = "192.168.##.1/24"

    custom_fields = {}
  }

  mgt = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user                  = "user"
      ssh_port                      = "22"
      tailscale_ip                  = "100.xx.xx.xx"
      docker_host_puid              = "1000"
      docker_host_pgid              = "1000"
      docker_host_appdata_root      = "/opt"
      docker_host_data_root         = "/opt"
      dns_priority                  = "010"
      keepalived_priority_dns_vip_a = "150"
      keepalived_priority_dns_vip_b = "110"
    }
  }

  unraid = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user             = "user"
      ssh_port                 = "22"
      tailscale_ip             = "100.xx.xx.xx"
      docker_host_puid         = "99"
      docker_host_pgid         = "100"
      docker_host_appdata_root = "/mnt/user/appdata"
      docker_host_data_root    = "/mnt/user/data"
    }
  }

  plex = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user                  = "user"
      ssh_port                      = "22"
      tailscale_ip                  = "100.xx.xx.xx"
      docker_host_puid              = "1000"
      docker_host_pgid              = "1000"
      docker_host_appdata_root      = "/opt"
      docker_host_data_root         = "/opt"
      dns_priority                  = "020"
      keepalived_priority_dns_vip_a = "120"
      keepalived_priority_dns_vip_b = "150"
    }
  }

  n8n = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user = "ubuntu"
      ssh_port     = "22"
      tailscale_ip = "100.xx.xx.xx"
    }
  }

  pve1 = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user = "user"
      ssh_port     = "22"
      tailscale_ip = "100.xx.xx.xx"
    }
  }

  dns03 = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user                  = "root"
      ssh_port                      = "22"
      tailscale_ip                  = "100.x.x.x"
      dns_priority                  = "030"
      keepalived_priority_dns_vip_a = "110"
      keepalived_priority_dns_vip_b = "120"
    }
  }

  pg95 = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user = "user"
      ssh_port     = "22"
      tailscale_ip = "100.xx.xx.xx"
    }
  }

  pg96 = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user = "user"
      ssh_port     = "22"
      tailscale_ip = "100.xx.xx.xx"
    }
  }

  pg97 = {
    mgmt_ip = "192.168.xx.xx/24"

    custom_fields = {
      ansible_user = "user"
      ssh_port     = "22"
      tailscale_ip = "100.xx.xx.xx"
    }
  }
}

reserved_ip_private_values = {
  dns_vip_a = {
    ip_address = "192.168.xx.xx/24"
  }

  dns_vip_b = {
    ip_address = "192.168.xx.xx/24"
  }
}
