netbox_server_url           = "https://netbox.int.domain.com:8443"
netbox_api_token            = "REPLACE_ME"
netbox_allow_insecure_https = false
netbox_request_timeout      = 30
netbox_skip_version_check   = false