---
{% set netplan_nameservers = ubuntu_netplan_nameservers | default(ubuntu_defaults_netplan_nameservers) %}
{% set netplan_search_domains = ubuntu_netplan_search_domains | default([]) %}

network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ubuntu_netplan_effective_interface }}:
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ ubuntu_netplan_ipv4_address }}/{{ ubuntu_netplan_prefix }}
      nameservers:
        addresses:
{% for ns in netplan_nameservers %}
          - {{ ns }}
{% endfor %}
{% if netplan_search_domains | length > 0 %}
        search:
{% for domain in netplan_search_domains %}
          - {{ domain }}
{% endfor %}
{% endif %}
      routes:
        - to: default
          via: {{ ubuntu_defaults_netplan_gateway }}
