"use strict";
// If you find yourself always using the same command-line flag, you can set it
// here as a default.
module.exports = {
    apiKey: "{{ cross_seed_api }}",
    torznab: [
        "http://prowlarr:9696/1/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/2/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/4/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/5/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/6/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/7/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/8/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/9/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/10/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/11/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/12/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/13/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/14/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/15/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/16/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/18/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/19/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/20/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/21/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/22/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/23/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/24/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/25/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/29/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/30/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/31/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/32/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/33/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/36/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/37/api?apikey={{ prowlarr_api }}",
        "http://prowlarr:9696/38/api?apikey={{ prowlarr_api }}"
    ],
    sonarr: ["http://sonarr:8989/?apikey={{ sonarr_api }}","http://sonarr-4k:8989/?apikey={{ sonarr_4k_api }}"],
    radarr: ["http://radarr:7878/?apikey={{ radarr_api }}","http://radarr-4k:7878/?apikey={{ radarr_4k_api }}"],
    host: undefined,
    port: 2468,
    notificationWebhookUrls: ["{{ cross_seed_notifiarr_webhook }}"],
    useClientTorrents: true,
    torrentDir: null,
    torrentClients: ["qbittorrent:http://{{ qbittorrent_xs_user }}:{{ qbittorrent_xs_pass }}@qbittorrent-xs.internal:8091"],
    delay: 60,
    dataDirs: ["/data/media/movies","/data/media/movies-4k","/data/media/tv","/data/media/tv-4k","/data/media/adult"],
    linkCategory: "cross-seed-link",
    linkDirs: ["/data/seeds/links"],
    linkType: "hardlink",
    flatLinking: false,
    matchMode: "partial",
    maxDataDepth: 3,
    outputDir: null,
    includeSingleEpisodes: true,
    includeNonVideos: false,
    fuzzySizeThreshold: 0.02,
    excludeOlder: "2 weeks",
    excludeRecentSearch: "3 days",
    action: "inject",
    duplicateCategories: false,
    rssCadence: "30 minutes",
    searchCadence: "1 day",
    snatchTimeout: "30 seconds",
    searchTimeout: "2 minutes",
    searchLimit: 100,
    blockList: undefined,
};
//# sourceMappingURL=config.template.cjs.map