global
  log stdout format raw local0
  maxconn {{ docker_services_svc.settings.haproxy_maxconn | default(4096) }}

defaults
  log global
  mode tcp
  option tcplog
  option clitcpka
  option srvtcpka
  timeout connect {{ docker_services_svc.settings.haproxy_timeout_connect | default('5s') }}
  timeout client {{ docker_services_svc.settings.haproxy_timeout_client | default('4h') }}
  timeout server {{ docker_services_svc.settings.haproxy_timeout_server | default('4h') }}
  timeout check {{ docker_services_svc.settings.haproxy_timeout_check | default('5s') }}
  retries {{ docker_services_svc.settings.haproxy_retries | default('3') }}

frontend prometheus
  bind *:{{ docker_services_svc.settings.haproxy_prometheus_port | default(8405) }}
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log

frontend pg_write
  bind *:5432
  mode tcp
  default_backend pg_primary

backend pg_primary
  mode tcp
  balance first

  option tcp-check
  tcp-check connect port {{ postgres_patroni_restapi_port | default(8008) }}
  tcp-check send "GET /primary HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n"
  tcp-check expect rstring ^HTTP/1\.[01][[:space:]]+200

  default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions

{% for host in groups['tags_postgres'] | default([]) %}
  server {{ host }} {{ hostvars[host].local_ip }}:{{ postgres_patroni_postgres_port | default(5432) }} check port {{ postgres_patroni_restapi_port | default(8008) }}
{% endfor %}
