ALLOWED_HOSTS=netbox.int.{{ cloudflare_zone }} localhost 127.0.0.1
CSRF_TRUSTED_ORIGINS=https://netbox.int.{{ cloudflare_zone }}:{{ private_https_port | default('8443') }}
CSRF_COOKIE_SAMESITE=None
CSRF_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=true
DB_HOST=haproxy
DB_PORT=5432
DB_NAME=netbox
DB_USER={{ postgres_user }}
DB_SSLMODE=disable
REDIS_HOST=netbox-redis
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_SSL=false
REDIS_CACHE_HOST=netbox-redis-cache
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE=1
REDIS_CACHE_SSL=false
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@{{ cloudflare_zone }}
METRICS_ENABLED=true
WEBHOOKS_ENABLED=true
CENSUS_REPORTING_ENABLED=false
RELEASE_CHECK_URL=
DEBUG=False