{
    "OmbiDatabase": {
       "Type": "Postgres",
       "ConnectionString": "Server=haproxy;Port=5432;Database=Ombi;Username={{ postgres_user }};Password={{ postgres_pass }}"
    },
    "SettingsDatabase": {
       "Type": "Postgres",
       "ConnectionString": "Server=haproxy;Port=5432;Database=Ombi;Username={{ postgres_user }};Password={{ postgres_pass }}"
    },
    "ExternalDatabase": {
       "Type": "Postgres",
       "ConnectionString": "Server=haproxy;Port=5432;Database=Ombi;Username={{ postgres_user }};Password={{ postgres_pass }}"
    }
}