QUI__METRICS_ENABLED=true
QUI__METRICS_HOST=0.0.0.0
QUI__METRICS_PORT=9074
QUI__DATABASE_ENGINE=postgres
QUI__DATABASE_DSN=postgres://{{ postgres_user }}:{{ postgres_pass }}@haproxy:5433/qui?sslmode=disable