---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Cyberdyne Systems

description: Putting the net in Skynet.

theme: dark
useEqualHeights: true

layout:
  core:
    style: row
    columns: 2
  proxy:
    style: row
    columns: 2
  arrs:
    style: row
    columns: 2
  media:
    style: row
    columns: 2
  plex:
    style: row
    columns: 2
  torrents:
    style: row
    columns: 3
  usenet:
    style: row
    columns: 3
  monitoring:
    style: row
    columns: 2
  unifi:
    style: row
    columns: 1
  apps:
    style: row
    columns: 5
