---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Cyberdyne Systems

description: Putting the net in Skynet.

theme: dark
useEqualHeights: true

layout:
  arrs:
    style: row
    columns: 2
  companions:
    style: row
    columns: 2
  downloads:
    style: row
    columns: 3
  metrics:
    style: row
    columns: 2
  plex:
    style: row
    columns: 2
  traefik:
    style: row
    columns: 2
  misc:
    style: row
    columns: 2
  Apps:
    style: row
    columns: 5
  Trackers:
    style: row
    columns: 5
providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey