---

global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

log:
  level: INFO

accessLog:
  filePath: /etc/traefik/logs/access.log
  format: json
  bufferingSize: 100
  fields:
    defaultMode: keep

entryPoints:
  https_private:
    address: ":{{ services_private_https_port }}"
    http:
      tls:
        options: securetls@file
        certResolver: dns-cloudflare
        domains:
          - main: {{ services_internal_zone }}
            sans:
              - "*.{{ services_internal_zone }}"
    transport:
      respondingTimeouts:
        readTimeout: 600s
        writeTimeout: 0s
        idleTimeout: 180s

  ping:
    address: ":8081"

  metrics:
    address: ":8082"

certificatesResolvers:
  dns-cloudflare:
    acme:
      caServer: https://acme-v02.api.letsencrypt.org/directory
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

experimental:
  plugins:
    themepark:
      moduleName: github.com/packruler/traefik-themepark
      version: v1.4.2
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.6.0

ping:
  entryPoint: ping

metrics:
  prometheus:
    entryPoint: metrics
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    manualRouting: false
