{% set cloudflare_zone = service_common_infisical_values.cloudflare_zone %}
---

http:
  middlewares:
    traefik-dashboard-chain:
      chain:
        middlewares:
          - "secure-headers@file"
          - "robots-noindex@file"
          - "hsts@file"
          - "gzip@file"

  routers:
    traefik-dashboard:
      entryPoints: ["https_private"]
      rule: "Host(`traefik.int.{{ cloudflare_zone }}`)"
      priority: 10
      tls:
        options: "securetls@file"
      middlewares:
        - "traefik-dashboard-chain"
      service: "api@internal"
