{% set authelia_oidc_jwks_rsa_private_key = service_common_infisical_values.authelia_oidc_jwks_rsa_private_key %}
{% set grafana_oidc_client_secret_digest = service_common_infisical_values.grafana_oidc_client_secret_digest %}
{% set smtp_host = service_common_infisical_values.smtp_host %}
{% set smtp_password = service_common_infisical_values.smtp_password %}
{% set smtp_port = service_common_infisical_values.smtp_port %}
{% set smtp_sender = service_common_infisical_values.smtp_sender %}
{% set smtp_username = service_common_infisical_values.smtp_username %}
---
###############################################################
#                   Authelia configuration                    #
###############################################################

access_control:
  default_policy: deny
  rules:
    - domain:
        - "*.{{ services_public_zone }}"
        - "{{ services_public_zone }}"
      policy: one_factor

server:
  endpoints:
    authz:
      forward-auth:
        implementation: "ForwardAuth"

identity_providers:
  oidc:
    jwks:
      - key_id: rsa1
        algorithm: RS256
        use: sig
        key: |
{{ authelia_oidc_jwks_rsa_private_key | indent(width=10, first=true) }}
    clients:
      - client_id: grafana
        client_name: Grafana
        client_secret: "{{ grafana_oidc_client_secret_digest }}"
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - "https://grafana.{{ services_internal_zone }}:{{ services_private_https_port }}/login/generic_oauth"
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_basic

session:
  cookies:
    - domain: "{{ services_public_zone }}"
      authelia_url: "https://authelia.{{ services_public_zone }}"
      default_redirection_url: "https://www.{{ services_public_zone }}"

notifier:
  disable_startup_check: false
  smtp:
    address: "smtp://{{ smtp_host }}:{{ smtp_port }}"
    username: "{{ smtp_username }}"
    password: "{{ smtp_password }}"
    sender: "{{ smtp_sender }}"

log:
  level: info
  format: text
  file_path: /config/logs/authelia.log
  keep_stdout: true
