---

name: {{ etcd_node_name }}
data-dir: {{ etcd_data_dir }}

listen-client-urls: http://{{ local_ip }}:{{ etcd_client_port }},http://127.0.0.1:{{ etcd_client_port }}
advertise-client-urls: http://{{ local_ip }}:{{ etcd_client_port }}

listen-peer-urls: http://{{ local_ip }}:{{ etcd_peer_port }}
initial-advertise-peer-urls: http://{{ local_ip }}:{{ etcd_peer_port }}

initial-cluster: {{ etcd_initial_cluster | replace(' ', '') }}
initial-cluster-state: new
initial-cluster-token: {{ etcd_cluster_token }}
