pm_api_url      = "https://192.168.xx.xx:8006/"

# Temporary compatibility for an untrusted/self-signed Proxmox certificate.
# Prefer trusting the Proxmox CA and setting this to false.
pm_tls_insecure = true

target_node  = "pve1"

node_management_ip = "192.168.xx.xx"

network_vmbr0_name      = "vmbr0"
network_vmbr0_address   = "192.168.xx.xx/24"
network_vmbr0_gateway   = "192.168.xx.x"
network_vmbr0_ports     = ["enpxxxxxxx"]
network_vmbr0_autostart = true

network_vmbr1_name      = "vmbr1"
network_vmbr1_ports     = ["enpxxxxxxx"]
network_vmbr1_autostart = true

timezone = "Australia/Melbourne"
