global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode tcp
  option tcplog
  option clitcpka
  option srvtcpka
  timeout connect 5s
  timeout client  4h
  timeout server  4h
  timeout check   5s
  retries 3

frontend pg_write
  bind *:5432
  mode tcp
  default_backend pg_primary

backend pg_primary
  mode tcp
  balance first

  option tcp-check
  tcp-check connect port 8008
  tcp-check send "GET /primary HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n"
  tcp-check expect rstring ^HTTP/1\.[01][[:space:]]+200

  default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions

  server pg95 192.168.80.95:5432 check port 8008
  server pg96 192.168.80.96:5432 check port 8008
  server pg97 192.168.80.97:5432 check port 8008
