services:
  {{ netbox_postgres_name }}:
    image: "{{ netbox_postgres_image }}"
    logging:
      driver: "{{ netbox_logging.driver }}"
      options:
{% for key, value in netbox_logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
    networks:
      - "{{ netbox_docker_network }}"
    environment:
      TZ: "{{ netbox_timezone }}"
      POSTGRES_DB: "{{ netbox_postgres_db_name }}"
      POSTGRES_USER_FILE: /run/secrets/postgres_user_secret
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_pass_secret
    secrets:
      - source: netbox_db_user_secret
        target: postgres_user_secret
      - source: netbox_db_password_secret
        target: postgres_pass_secret
    volumes:
      - type: bind
        source: "{{ netbox_postgres_path }}"
        target: /var/lib/postgresql
        read_only: false
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - "node.hostname == {{ netbox_swarm_node_hostname }}"
      restart_policy:
        condition: "{{ netbox_restart_policy.condition }}"
        delay: "{{ netbox_restart_policy.delay }}"
        max_attempts: {{ netbox_restart_policy.max_attempts }}
        window: "{{ netbox_restart_policy.window }}"

  {{ netbox_redis_name }}:
    image: "{{ netbox_redis_image }}"
    logging:
      driver: "{{ netbox_logging.driver }}"
      options:
{% for key, value in netbox_logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
    networks:
      - "{{ netbox_docker_network }}"
    healthcheck:
      test:
        - "CMD-SHELL"
        - 'valkey-cli --pass "$$(cat /run/secrets/netbox_redis_password_secret)" ping | grep -q PONG'
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    command:
      - "sh"
      - "-c"
      - 'valkey-server --appendonly yes --requirepass "$$(cat /run/secrets/netbox_redis_password_secret)"'
    environment:
      TZ: "{{ netbox_timezone }}"
      PUID: "{{ netbox_redis_puid }}"
      PGID: "{{ netbox_redis_pgid }}"
    secrets:
      - source: netbox_redis_password_secret
        target: netbox_redis_password_secret
    volumes:
      - type: bind
        source: "{{ netbox_redis_path }}"
        target: /data
        read_only: false
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - "node.hostname == {{ netbox_swarm_node_hostname }}"
      restart_policy:
        condition: "{{ netbox_restart_policy.condition }}"
        delay: "{{ netbox_restart_policy.delay }}"
        max_attempts: {{ netbox_restart_policy.max_attempts }}
        window: "{{ netbox_restart_policy.window }}"

  {{ netbox_name }}:
    image: "{{ netbox_image }}"
    logging:
      driver: "{{ netbox_logging.driver }}"
      options:
{% for key, value in netbox_logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
    networks:
      - "{{ netbox_docker_network }}"
    environment:
      PUID: "{{ netbox_puid }}"
      PGID: "{{ netbox_pgid }}"
      TZ: "{{ netbox_timezone }}"
      FILE__SUPERUSER_EMAIL: /run/secrets/netbox_superuser_email_secret
      FILE__SUPERUSER_PASSWORD: /run/secrets/netbox_superuser_password_secret
      ALLOWED_HOST: "{{ netbox_frontend_fqdn }}"
      CSRF_TRUSTED_ORIGINS: "'{{ netbox_frontend_address }}'"
      DB_NAME: "{{ netbox_postgres_db_name }}"
      FILE__DB_USER: /run/secrets/postgres_user_secret
      FILE__DB_PASSWORD: /run/secrets/postgres_pass_secret
      DB_HOST: "{{ netbox_postgres_name }}"
      DB_PORT: "{{ netbox_postgres_port }}"
      REDIS_HOST: "{{ netbox_redis_name }}"
      REDIS_PORT: "{{ netbox_redis_port }}"
      REDIS_USERNAME: ""
      FILE__REDIS_PASSWORD: /run/secrets/netbox_redis_password_secret
      REDIS_DB_TASK: "0"
      REDIS_DB_CACHE: "1"
    secrets:
      - source: netbox_superuser_email_secret
        target: netbox_superuser_email_secret
      - source: netbox_superuser_password_secret
        target: netbox_superuser_password_secret
      - source: netbox_db_user_secret
        target: postgres_user_secret
      - source: netbox_db_password_secret
        target: postgres_pass_secret
      - source: netbox_redis_password_secret
        target: netbox_redis_password_secret
    volumes:
      - type: bind
        source: "{{ netbox_base_path }}/config"
        target: /config
        read_only: false
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - "node.hostname == {{ netbox_swarm_node_hostname }}"
      restart_policy:
        condition: "{{ netbox_restart_policy.condition }}"
        delay: "{{ netbox_restart_policy.delay }}"
        max_attempts: {{ netbox_restart_policy.max_attempts }}
        window: "{{ netbox_restart_policy.window }}"

networks:
  {{ netbox_docker_network }}:
    external: true

secrets:
{% for secret_name in netbox_docker_secrets.keys() %}
  {{ secret_name }}:
    external: true
{% endfor %}
