ALLOWED_HOSTS={{ netbox_frontend_fqdn }} {{ netbox_name }} localhost 127.0.0.1
CSRF_TRUSTED_ORIGINS={{ netbox_frontend_address }}
CSRF_COOKIE_SAMESITE=None
CSRF_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=true
DB_HOST={{ netbox_postgres_name }}
DB_PORT=5432
DB_NAME={{ netbox_postgres_db_name }}
DB_USER={{ netbox_postgres_user }}
DB_SSLMODE=disable
REDIS_HOST={{ netbox_redis_name }}
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_SSL=false
REDIS_CACHE_HOST={{ netbox_redis_cache_name }}
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE=1
REDIS_CACHE_SSL=false
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@{{ netbox_domain }}
METRICS_ENABLED=true
WEBHOOKS_ENABLED=true
CENSUS_REPORTING_ENABLED=false
RELEASE_CHECK_URL=
DEBUG=False
