pm_api_url      = "https://192.168.80.80:8006/"
pm_tls_insecure = true

# bpg/proxmox provider expects a single token string in the form
# user@realm!tokenid=secret. Set this via tfvars/env instead of committing secrets.
pm_api_token = "<your-api-token>"

target_node          = "pve1"
clone_template_vmid = 9000
vm_storage           = "local-zfs"

vm_bridge       = "vmbr0"
vm_gateway      = "192.168.80.1"
vm_cidr         = 24
vm_nameserver   = "192.168.80.48 192.168.80.59"
vm_searchdomain = "home.arpa"

ci_user = "ubuntu"

ssh_public_key_path = "/home/mgt/.ssh/proxmox_terraform.pub"

postgres_vms = {
  pg95 = {
    vmid         = 9205
    ip           = "192.168.80.95"
    cores        = 2
    sockets      = 1
    memory       = 2048
    disk_size_gb = 60
  }

  pg96 = {
    vmid         = 9206
    ip           = "192.168.80.96"
    cores        = 2
    sockets      = 1
    memory       = 2048
    disk_size_gb = 60
  }

  pg97 = {
    vmid         = 9207
    ip           = "192.168.80.97"
    cores        = 2
    sockets      = 1
    memory       = 2048
    disk_size_gb = 60
  }
}