{% set opencloud_admin_pass = service_common_infisical_values.opencloud_admin_pass %}
{% set smtp_host = service_common_infisical_values.smtp_host %}
{% set smtp_password = service_common_infisical_values.smtp_password %}
{% set smtp_port = service_common_infisical_values.smtp_port %}
{% set smtp_sender = service_common_infisical_values.smtp_sender %}
{% set smtp_username = service_common_infisical_values.smtp_username %}
OC_URL=https://opencloud.{{ services_public_zone }}
OC_LOG_LEVEL=info
OC_LOG_COLOR=false
OC_LOG_PRETTY=false
PROXY_TLS=false
OC_INSECURE=false
PROXY_ENABLE_BASIC_AUTH=false
IDM_CREATE_DEMO_USERS=false
IDM_ADMIN_PASSWORD={{ opencloud_admin_pass }}
NOTIFICATIONS_SMTP_HOST={{ smtp_host }}
NOTIFICATIONS_SMTP_PORT={{ smtp_port }}
NOTIFICATIONS_SMTP_SENDER={{ smtp_sender }}
NOTIFICATIONS_SMTP_USERNAME={{ smtp_username }}
NOTIFICATIONS_SMTP_PASSWORD={{ smtp_password }}
NOTIFICATIONS_SMTP_INSECURE=false
NOTIFICATIONS_SMTP_AUTHENTICATION=auto
NOTIFICATIONS_SMTP_ENCRYPTION=starttls
FRONTEND_ARCHIVER_MAX_SIZE=10000000000
FRONTEND_CHECK_FOR_UPDATES=true
PROXY_CSP_CONFIG_FILE_LOCATION=/etc/opencloud/csp.yaml
OC_PASSWORD_POLICY_BANNED_PASSWORDS_LIST=banned-password-list.txt
OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD=true
OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD=false
OC_PASSWORD_POLICY_DISABLED=false
OC_PASSWORD_POLICY_MIN_CHARACTERS=8
OC_PASSWORD_POLICY_MIN_LOWERCASE_CHARACTERS=1
OC_PASSWORD_POLICY_MIN_UPPERCASE_CHARACTERS=1
OC_PASSWORD_POLICY_MIN_DIGITS=1
OC_PASSWORD_POLICY_MIN_SPECIAL_CHARACTERS=1
OC_DEFAULT_LANGUAGE=en
OC_ADD_RUN_SERVICES=
