---
###############################################################
#                   Authelia configuration                    #
###############################################################

access_control:
  default_policy: deny
  rules:
    - domain:
        - "*.{{ cloudflare_zone }}"
        - "{{ cloudflare_zone }}"
      policy: one_factor

server:
  endpoints:
    authz:
      forward-auth:
        implementation: "ForwardAuth"

session:
  cookies:
    - domain: "{{ cloudflare_zone }}"
      authelia_url: "https://authelia.{{ cloudflare_zone }}"
      default_redirection_url: "https://www.{{ cloudflare_zone }}"

notifier:
  disable_startup_check: false
  smtp:
    address: "smtp://{{ smtp_host }}:{{ smtp_port }}"
    username: "{{ smtp_username }}"
    password: "{{ smtp_password }}"
    sender: "{{ smtp_sender }}"

log:
  level: info
  format: text
  file_path: /config/logs/authelia.log
  keep_stdout: true
