---

http:
  routers:
    authelia:
      entryPoints: ["https"]
      rule: "Host(`authelia.{{ cloudflare_zone }}`)"
      priority: 50
      tls:
        options: "securetls@file"
      middlewares:
        - "crowdsec@file"
        - "secure-headers@file"
        - "hsts@file"
        - "gzip@file"
      service: "authelia-svc"

  services:
    authelia-svc:
      loadBalancer:
        servers:
          - url: "http://authelia:9091"