# Keys
# Required key for platform encryption/decryption ops
ENCRYPTION_KEY='{{ infisical_enc_key }}'

# JWT
# Required secrets to sign JWT tokens
AUTH_SECRET='{{ infisical_jwt_key }}'

# Postgres
DB_CONNECTION_URI='postgres://{{ infisical_postgres_user }}:{{ infisical_postgres_pass }}@{{ infisical_postgres_name }}:5432/infisical?sslmode=disable'

# Redis
REDIS_URL='redis://:{{ infisical_redis_key }}@{{ infisical_redis_name }}:6379'

# Website URL
# Required
SITE_URL='http://localhost:8080'

# Mail/SMTP
SMTP_HOST='{{ infisical_smtp_host }}'
SMTP_PORT='{{ infisical_smtp_port }}'
SMTP_FROM_ADDRESS='{{ infisical_smtp_email }}'
SMTP_FROM_NAME='{{ infisical_smtp_sender }}'
SMTP_USERNAME='{{ infisical_smtp_user }}'
SMTP_PASSWORD='{{ infisical_smtp_pass }}'