services:
  {{ infisical_redis_name }}:
    image: {{ infisical_redis_image }}
    logging:
      driver: "{{ infisical_logging.driver }}"
      options:
{% for key, value in infisical_logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
    networks:
      - "{{ infisical_docker_network }}"
    command:
      - sh
      - -c
      - valkey-server --requirepass "$$(cat /run/secrets/infisical_redis_password_secret)"
    environment:
      TZ: "{{ infisical_timezone }}"
      PUID: "{{ infisical_redis_puid }}"
      PGID: "{{ infisical_redis_pgid }}"
      REDIS_PASSWORD_FILE: /run/secrets/infisical_redis_password_secret
    secrets:
{% for secret_name in infisical_redis_docker_secrets.keys() %}
      - "{{ secret_name }}"
{% endfor %}
    volumes:
      - {{ infisical_redis_path }}:/data
    restart: {{ infisical_restart_policy }}

  {{ infisical_name }}:
    image: {{ infisical_image }}
    logging:
      driver: "{{ infisical_logging.driver }}"
      options:
{% for key, value in infisical_logging.options.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
    depends_on:
      - {{ infisical_redis_name }}
    networks:
      - "{{ infisical_docker_network }}"
    environment:
      TZ: "{{ infisical_timezone }}"
      PUID: "{{ infisical_puid }}"
      PGID: "{{ infisical_pgid }}"
      NODE_ENV: "production"
    env_file:
      - .env
    ports:
      - "{{ infisical_port }}:8080"
    restart: {{ infisical_restart_policy }}

networks:
  {{ infisical_docker_network }}:
    external: true

secrets:
{% for secret_name in infisical_redis_docker_secrets.keys() %}
  {{ secret_name }}:
    file: "{{ infisical_redis_secrets_files_path }}/{{ secret_name }}"
{% endfor %}
