uptime_kuma_endpoint = "https://uptime-kuma.somedomain.com"
cloudflare_zone      = "somedomain.com"
internal_zone        = "int.somedomain.com"
gotify_server_url    = "https://gotify.somedomain.com"

private_https_port = 8443

# Optional fallback/override only.
# Normally sourced from terraform/netbox outputs
host_ips      = {}
