uptime_kuma_endpoint = "https://uptime-kuma.int.somedomain.com:8443"
uptime_kuma_username = "admin"
uptime_kuma_password = "some_password"

cloudflare_zone    = "somedomain.com"
internal_zone      = "int.somedomain.com"
private_https_port = 8443

postgres_monitor_connection_strings = {
  pg95 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.80.95:5432/postgres?sslmode=disable"
  pg96 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.80.96:5432/postgres?sslmode=disable"
  pg97 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.80.97:5432/postgres?sslmode=disable"
}

gotify_server_url          = "https://gotify.int.somedomain.com:8443"
gotify_application_token   = "some_token"
