uptime_kuma_username = "admin"
uptime_kuma_password = "some_password"

postgres_monitor_connection_strings = {
  pg95 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.xx.xx:5432/postgres?sslmode=disable"
  pg96 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.xx.xx:5432/postgres?sslmode=disable"
  pg97 = "postgres://uptime_kuma_monitor:CHANGEME@192.168.xx.xx:5432/postgres?sslmode=disable"
}

gotify_application_token   = "some_token"
