uptime_kuma_endpoint = "https://uptime-kuma.int.somedomain.com:8443"
uptime_kuma_username = "admin"
uptime_kuma_password = "some_password"

cloudflare_zone    = "somedomain.com"
internal_zone      = "int.somedomain.com"
private_https_port = 8443

gotify_server_url          = "https://gotify.int.somedomain.com:8443"
gotify_application_token   = "some_token"
