radarr_base_url: http://radarr:7878/
radarr_api_key: {{ radarr_api }}
radarr_4k_base_url: http://radarr-4k:7878/
radarr_4k_api_key: {{ radarr_4k_api }}
sonarr_base_url: http://sonarr:8989/
sonarr_api_key: {{ sonarr_api }}
sonarr_4k_base_url: http://sonarr-4k:8989/
sonarr_4k_api_key: {{ sonarr_4k_api }}