seerr_api_key     = "REPLACE_ME"
tautulli_api_key  = "REPLACE_ME"
radarr_api_key    = "REPLACE_ME"
radarr_4k_api_key = "REPLACE_ME"
sonarr_api_key    = "REPLACE_ME"
sonarr_4k_api_key = "REPLACE_ME"
gotify_token      = "REPLACE_ME"
