seerr_url     = "https://seerr.int.domain.com:8443"
seerr_api_key = "REPLACE_ME"

domain_int = "int.domain.com"

tautulli_api_key  = "REPLACE_ME"
gotify_token      = "REPLACE_ME"
radarr_api_key    = "REPLACE_ME"
radarr_4k_api_key = "REPLACE_ME"
sonarr_api_key    = "REPLACE_ME"
sonarr_4k_api_key = "REPLACE_ME"