# Keys
ENCRYPTION_KEY='{{ infisical_podman_enc_key }}'

# JWT
AUTH_SECRET='{{ infisical_podman_jwt_key }}'

# Postgres
POSTGRES_USER='{{ infisical_podman_postgres_user }}'
POSTGRES_PASSWORD='{{ infisical_podman_postgres_pass }}'
DB_CONNECTION_URI='postgres://{{ infisical_podman_postgres_user }}:{{ infisical_podman_postgres_pass }}@{{ infisical_podman_postgres_name }}:5432/infisical?sslmode=disable'

# Redis
INFISICAL_REDIS_KEY='{{ infisical_podman_redis_key }}'
REDIS_URL='redis://:{{ infisical_podman_redis_key }}@{{ infisical_podman_redis_name }}:6379'

# Website URL
SITE_URL='{{ infisical_podman_site_url }}'

# Mail/SMTP
SMTP_HOST='{{ infisical_podman_smtp_host }}'
SMTP_PORT='{{ infisical_podman_smtp_port }}'
SMTP_FROM_ADDRESS='{{ infisical_podman_smtp_email }}'
SMTP_FROM_NAME='{{ infisical_podman_smtp_sender }}'
SMTP_USERNAME='{{ infisical_podman_smtp_user }}'
SMTP_PASSWORD='{{ infisical_podman_smtp_pass }}'