[Unit]
Description=Infisical Redis container
After=network-online.target {{ infisical_podman_network }}-network.service
Wants=network-online.target
Requires={{ infisical_podman_network }}-network.service

[Container]
ContainerName={{ infisical_podman_redis_name }}
Image={{ infisical_podman_redis_image }}
Network={{ infisical_podman_network }}
PublishPort={{ infisical_podman_redis_port }}:6379
Environment=TZ={{ timezone }}
EnvironmentFile={{ infisical_podman_path }}/.env
Volume={{ infisical_podman_redis_path }}:/data:Z
Exec=sh -c 'redis-server --appendonly yes --requirepass "$INFISICAL_REDIS_KEY"'

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
