{% set secrets = service_common_infisical_values %}
radarr_base_url: https://radarr.{{ services_internal_zone }}:{{ services_private_https_port }}/
radarr_api_key: {{ secrets.radarr_api }}
radarr_4k_base_url: https://radarr-4k.{{ services_internal_zone }}:{{ services_private_https_port }}/
radarr_4k_api_key: {{ secrets.radarr_4k_api }}
sonarr_base_url: https://sonarr.{{ services_internal_zone }}:{{ services_private_https_port }}/
sonarr_api_key: {{ secrets.sonarr_api }}
sonarr_4k_base_url: https://sonarr-4k.{{ services_internal_zone }}:{{ services_private_https_port }}/
sonarr_4k_api_key: {{ secrets.sonarr_4k_api }}
