AUTOPULSE__APP__HOSTNAME=0.0.0.0
AUTOPULSE__APP__PORT=2875
AUTOPULSE__APP__DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_pass }}@haproxy:5433/autopulse
AUTOPULSE__OPTS__CHECK_PATH=true
AUTOPULSE__OPTS__MAX__RETRIES=5
AUTOPULSE__TRIGGERS__LIDARR__TYPE=lidarr
AUTOPULSE__TRIGGERS__SONARR__TYPE=sonarr
AUTOPULSE__TRIGGERS__SONARR_4K__TYPE=sonarr
AUTOPULSE__TRIGGERS__RADARR__TYPE=radarr
AUTOPULSE__TRIGGERS__RADARR_4K__TYPE=radarr
AUTOPULSE__TRIGGERS__WHISPARR__TYPE=radarr
AUTOPULSE__TARGETS__PLEX__TYPE=plex
AUTOPULSE__TARGETS__PLEX__URL=http://plex:32400