---

general:
  # Exporter Listening Address and Port
  address: 0.0.0.0 # Optional
  port: 7100
  # Exporter Metrics Path
  # path: /metrics # Optional

auth:
  # Basic Auth
  # username: user # Optional
  # password: pass # Optional
  # Bearer Token
  # token: token # Optional

sonarr:
  ## Sonarr
  url: http://sonarr:8989
  api_key: {{ sonarr_api }}
  alias: sonarr
  # api_version: v3 # Optional to use a different API Version
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Series

  ## Sonarr-4K
  url: http://sonarr-4k:8989
  api_key: {{ sonarr_4k_api }}
  alias: sonarr-4k
  # api_version: v3 # Optional to use a different API Version
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Series

radarr:
  ## Radarr
  url: http://radarr:7878
  api_key: {{ radarr_api }}
  alias: radarr
  # api_version: v3 # Optional to use a different API Version
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Movie

  ## Radarr-4K
  url: http://radarr-4k:7878
  api_key: {{ radarr_4k_api }}
  alias: radarr-4k
  # api_version: v3 # Optional to use a different API Version
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Movie

prowlarr:
  url: http://prowlarr:9696
  api_key: {{ prowlarr_api }}
  alias: prowlarr
  # api_version: v1 # Optional to use a different API Version
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Application/Indexer

bazarr:
  url: http://bazarr:6767
  api_key: {{ bazarr_api }}
  # alias: bazarr # Optional to Differentiate between multiple Services
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Series

jellyseerr:
  url: http://jellyseerr:5055
  api_key: {{ jellyseerr_api }}
  # alias: jellyseerr # Optional to Differentiate between multiple Services
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Request/Issue

whisparr:
  url: http://whisparr:6969
  api_key: {{ whisparr_api }}
  # alias: whisparr # Optional to Differentiate between multiple Services
  # interval: 30 # Optional to set a different Interval in Seconds
  # detailed: true  # Get Data per Performer/Scene
