{
 "clientId": "{{ seerr_client_id }}",
 "vapidPrivate": "{{ seerr_vapid_private }}",
 "vapidPublic": "{{ seerr_vapid_public }}",
 "main": {
  "apiKey": "{{ seerr_api }}",
  "applicationTitle": "Seerr",
  "applicationUrl": "",
  "cacheImages": false,
  "defaultPermissions": 32,
  "defaultQuotas": {
   "movie": {},
   "tv": {}
  },
  "hideAvailable": false,
  "hideBlocklisted": false,
  "localLogin": true,
  "mediaServerLogin": true,
  "newPlexLogin": true,
  "discoverRegion": "",
  "streamingRegion": "AU",
  "originalLanguage": "",
  "blocklistedTags": "",
  "blocklistedTagsLimit": 50,
  "mediaServerType": 1,
  "partialRequestsEnabled": true,
  "enableSpecialEpisodes": false,
  "locale": "en",
  "youtubeUrl": "",
  "dnsServers": ""
 },
 "plex": {
  "name": "Cyberdyne",
  "ip": "plex",
  "port": 32400,
  "useSsl": false,
  "libraries": [
   {
    "id": "1",
    "name": "Movies",
    "enabled": true,
    "type": "movie",
    "lastScan": 1772484900023
   },
   {
    "id": "2",
    "name": "TV Shows",
    "enabled": true,
    "type": "show",
    "lastScan": 1772484900044
   }
  ],
  "machineId": ""
 },
 "jellyfin": {
  "name": "",
  "ip": "",
  "port": 8096,
  "useSsl": false,
  "urlBase": "",
  "externalHostname": "",
  "jellyfinForgotPasswordUrl": "",
  "libraries": [],
  "serverId": "",
  "apiKey": ""
 },
 "tautulli": {
  "hostname": "tautulli",
  "port": 8181,
  "apiKey": "{{ tautulli_api }}",
  "externalUrl": "https://tautulli.{{ cloudflare_zone }}"
 },
 "metadataSettings": {
  "tv": "tmdb",
  "anime": "tmdb"
 },
 "radarr": [
  {
   "name": "Radarr",
   "hostname": "radarr",
   "port": 7878,
   "apiKey": "{{ radarr_api }}",
   "useSsl": false,
   "baseUrl": "",
   "activeProfileId": 8,
   "activeProfileName": "Remux + WEB 1080p",
   "activeDirectory": "/data/media/movies",
   "is4k": false,
   "minimumAvailability": "released",
   "tags": [],
   "isDefault": true,
   "externalUrl": "https://radarr.{{ cloudflare_zone }}",
   "syncEnabled": true,
   "preventSearch": false,
   "tagRequests": false,
   "id": 0
  },
  {
   "name": "Radarr-4K",
   "hostname": "radarr-4k",
   "port": 7878,
   "apiKey": "{{ radarr_4k_api }}",
   "useSsl": false,
   "baseUrl": "",
   "activeProfileId": 8,
   "activeProfileName": "Remux + WEB 2160p",
   "activeDirectory": "/data/media/movies-4k",
   "is4k": true,
   "minimumAvailability": "released",
   "tags": [],
   "isDefault": true,
   "externalUrl": "https://radarr-4k.{{ cloudflare_zone }}",
   "syncEnabled": true,
   "preventSearch": false,
   "tagRequests": false,
   "id": 1
  }
 ],
 "sonarr": [
  {
   "name": "Sonarr",
   "hostname": "sonarr",
   "port": 8989,
   "apiKey": "{{ sonarr_api }}",
   "useSsl": false,
   "baseUrl": "",
   "activeProfileId": 10,
   "activeProfileName": "WEB-1080p (Alternative)",
   "activeDirectory": "/data/media/tv",
   "animeSeriesType": "anime",
   "activeAnimeProfileId": 11,
   "activeAnimeProfileName": "[Anime] Remux-1080p",
   "activeAnimeDirectory": "/data/media/tv",
   "tags": [],
   "animeTags": [],
   "is4k": false,
   "isDefault": true,
   "enableSeasonFolders": false,
   "externalUrl": "https://sonarr.{{ cloudflare_zone }}",
   "syncEnabled": true,
   "preventSearch": false,
   "tagRequests": false,
   "id": 0
  },
  {
   "name": "Sonarr-4K",
   "hostname": "sonarr-4k",
   "port": 8989,
   "apiKey": "{{ sonarr_4k_api }}",
   "useSsl": false,
   "baseUrl": "",
   "activeProfileId": 9,
   "activeProfileName": "WEB-2160p",
   "activeDirectory": "/data/media/tv-4k",
   "animeSeriesType": "anime",
   "activeAnimeProfileId": 9,
   "activeAnimeProfileName": "WEB-2160p",
   "activeAnimeDirectory": "/data/media/tv-4k",
   "tags": [],
   "animeTags": [],
   "is4k": true,
   "isDefault": true,
   "enableSeasonFolders": false,
   "externalUrl": "https://sonarr-4k.{{ cloudflare_zone }}",
   "syncEnabled": true,
   "preventSearch": false,
   "tagRequests": false,
   "id": 1
  }
 ],
 "public": {
  "initialized": true
 },
 "notifications": {
  "agents": {
   "email": {
    "enabled": true,
    "embedPoster": true,
    "options": {
     "userEmailRequired": false,
     "emailFrom": "{{ smtp_email }}",
     "smtpHost": "{{ smtp_host }}",
     "smtpPort": {{ smtp_port }},
     "secure": false,
     "ignoreTls": false,
     "requireTls": false,
     "allowSelfSigned": false,
     "senderName": "{{ smtp_sender }}",
     "authUser": "{{ smtp_username }}",
     "authPass": "{{ smtp_password }}"
    }
   },
   "discord": {
    "enabled": false,
    "embedPoster": true,
    "types": 0,
    "options": {
     "webhookUrl": "",
     "webhookRoleId": "",
     "enableMentions": true
    }
   },
   "slack": {
    "enabled": false,
    "embedPoster": true,
    "types": 0,
    "options": {
     "webhookUrl": ""
    }
   },
   "telegram": {
    "enabled": false,
    "embedPoster": true,
    "types": 0,
    "options": {
     "botAPI": "",
     "chatId": "",
     "messageThreadId": "",
     "sendSilently": false
    }
   },
   "pushbullet": {
    "enabled": false,
    "embedPoster": false,
    "types": 0,
    "options": {
     "accessToken": ""
    }
   },
   "pushover": {
    "enabled": false,
    "embedPoster": true,
    "types": 0,
    "options": {
     "accessToken": "",
     "userToken": "",
     "sound": ""
    }
   },
   "webhook": {
    "enabled": true,
    "embedPoster": true,
    "types": 4062,
    "options": {
     "webhookUrl": "{{ seerr_notifiarr_webhook }}",
     "jsonPayload": "{{ seerr_notifiarr_payload }}"
    }
   },
   "webpush": {
    "enabled": false,
    "embedPoster": true,
    "options": {}
   },
   "gotify": {
    "enabled": false,
    "embedPoster": false,
    "types": 0,
    "options": {
     "url": "",
     "token": "",
     "priority": 0
    }
   },
   "ntfy": {
    "enabled": false,
    "embedPoster": true,
    "types": 0,
    "options": {
     "url": "",
     "topic": ""
    }
   }
  }
 },
 "jobs": {
  "plex-recently-added-scan": {
   "schedule": "0 */5 * * * *"
  },
  "plex-full-scan": {
   "schedule": "0 0 3 * * *"
  },
  "plex-watchlist-sync": {
   "schedule": "0 */3 * * * *"
  },
  "plex-refresh-token": {
   "schedule": "0 0 5 * * *"
  },
  "radarr-scan": {
   "schedule": "0 0 4 * * *"
  },
  "sonarr-scan": {
   "schedule": "0 30 4 * * *"
  },
  "availability-sync": {
   "schedule": "0 0 5 * * *"
  },
  "download-sync": {
   "schedule": "0 * * * * *"
  },
  "download-sync-reset": {
   "schedule": "0 0 1 * * *"
  },
  "jellyfin-recently-added-scan": {
   "schedule": "0 */5 * * * *"
  },
  "jellyfin-full-scan": {
   "schedule": "0 0 3 * * *"
  },
  "image-cache-cleanup": {
   "schedule": "0 0 5 * * *"
  },
  "process-blocklisted-tags": {
   "schedule": "0 30 1 */7 * *"
  }
 },
 "network": {
  "csrfProtection": false,
  "forceIpv4First": false,
  "trustProxy": false,
  "proxy": {
   "enabled": false,
   "hostname": "",
   "port": 8080,
   "useSsl": false,
   "user": "",
   "password": "",
   "bypassFilter": "",
   "bypassLocalAddresses": true
  },
  "dnsCache": {
   "enabled": false,
   "forceMinTtl": 0,
   "forceMaxTtl": -1
  },
  "apiRequestTimeout": 10000
 },
 "migrations": [
  "0007_migrate_arr_tags",
  "0008_migrate_blacklist_to_blocklist"
 ]
}