WEBUI_PORTS={{ service_common_service.traefik.port }}/tcp,{{ service_common_service.traefik.port }}/udp
VPN_ENABLED=true
VPN_CONF=wg0
VPN_PROVIDER=pia
VPN_LAN_NETWORK={{ services_lan_cidr }}
VPN_LAN_LEAK_ENABLED=false
VPN_AUTO_PORT_FORWARD=true
VPN_FIREWALL_TYPE=auto
