[defaults]
# Where Ansible looks for collections
collections_path = collections

# Where Ansible looks for roles
roles_path = roles:test

# Other useful defaults
inventory = netbox.yml

log_path = /opt/ansible/ansible.log