[defaults]

stdout_callback = default
callback_result_format = yaml
callback_format_pretty = true

# Where Ansible looks for collections
collections_path = /opt/homelab/ansible/collections

# Where Ansible looks for roles
roles_path = roles:test

# Other useful defaults
inventory = netbox.yml

log_path = /opt/ansible/ansible.log