
[skynet]
mgt ansible_connection=local ansible_user= ansible_python_interpreter=
unraid ansible_host= ansible_user=
plex ansible_host= ansible_user=
pve1 ansible_host= ansible_user=
pg95 ansible_host= ansible_user=
pg96 ansible_host= ansible_user=
pg97 ansible_host= ansible_user=

[opentofu_install]
mgt

[opentofu_pve_user]
pve1

[opentofu_managed]
pg95
pg96
pg97

[opentofu:children]
opentofu_install
opentofu_pve_user

[ansible_managers]
mgt

[docker_install]
mgt
plex

[swarm_managers]
mgt

[swarm_workers]
unraid
plex

[swarm:children]
swarm_managers
swarm_workers

[docker:children]
docker_install
swarm_managers
swarm_workers

[postgres_cluster]
pg95
pg96
pg97

[haproxy]
mgt
plex
unraid
