groups:
  - name: infrastructure.rules
    rules:
      - alert: PrometheusTargetDown
        expr: up{job!="alertmanager"} == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          summary: "Prometheus target down: {{ '{{' }} $labels.job {{ '}}' }}/{{ '{{' }} $labels.instance {{ '}}' }}"
          description: "Prometheus has been unable to scrape {{ '{{' }} $labels.job {{ '}}' }} on {{ '{{' }} $labels.instance {{ '}}' }} for 5 minutes."
          priority: "8"

      - alert: AlertmanagerDown
        expr: up{job="alertmanager"} == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          summary: "Alertmanager is down"
          description: "Prometheus has been unable to scrape Alertmanager on {{ '{{' }} $labels.instance {{ '}}' }} for 5 minutes."
          priority: "9"
