pm_api_url      = "https://192.168.xx.xx:8006/"
pm_tls_insecure = true

target_node = "pve1"

container_storage = "local-zfs"
template_file_id  = "local:vztmpl/noble-server-cloudimg-amd64-root.tar.xz"

container_bridge  = "vmbr0"
container_ip      = "192.168.xx.xx/24"
container_gateway = "192.168.xx.x"

container_dns_domain = "skynet"
container_dns_servers = [
  "192.168.xx.xx",
  "192.168.xx.xx",
]
