---

- services:
    - Adminer:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/adminer.svg
          href: https://github.com/vrana/adminer/
    - Alloy:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/grafana-alloy.svg
          href: https://github.com/grafana/alloy
    - Authelia:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/authelia.svg
          href: https://github.com/authelia/authelia
    - AutoBrr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/autobrr.svg
          href: https://github.com/autobrr/autobrr
    - AutoPulse:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/png/autopulse.png
          href: https://github.com/dan-online/autopulse
    - Bazarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/bazarr.svg
          href: https://github.com/morpheus65535/bazarr
    - Czkawka:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/czkawka.svg
          href: https://github.com/qarmin/czkawka
    - Gitea:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/gitea.svg
          href: https://github.com/go-gitea/gitea
    - Gluetun:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/gluetun.svg
          href: https://github.com/qdm12/gluetun
    - Gotify:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/gotify.svg
          href: https://github.com/gotify/server
    - Grafana:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/grafana.svg
          href: https://github.com/grafana/grafana
    - HAProxy:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/haproxy.svg
          href: https://github.com/haproxy/haproxy
    - HomePage:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/homepage.svg
          href: https://github.com/gethomepage/homepage
    - Hugo:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/hugo.svg
          href: https://github.com/gohugoio/hugo
    - ImageMaid:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/kometa.svg
          href: https://github.com/Kometa-Team/ImageMaid/
    - JDownloader-2:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/png/jdownloader.png
          href: https://github.com/jlesage/docker-jdownloader-2
    - Kometa:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/kometa.svg
          href: https://github.com/kometa-team/kometa
    - Librewolf:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/librewolf.svg
          href: https://docs.linuxserver.io/images/docker-librewolf/
    - Lidarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/lidarr.svg
          href: https://github.com/lidarr/Lidarr
    - Loki:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/loki.svg
          href: https://github.com/grafana/loki
    - MariaDB:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/mariadb.svg
          href: https://github.com/MariaDB/server
    - NetBox:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/netbox.svg
          href: https://github.com/netbox-community/netbox
    - NZBHydra2:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/png/nzbhydra.png
          href: https://github.com/theotherp/nzbhydra2
    - Obsidian:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/obsidian.svg
          href: https://github.com/obsidianmd/obsidian-releases
    - Ombi:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/ombi.svg
          href: https://github.com/ombi-app/ombi
    - OpenCloud:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/opencloud.svg
          href: https://github.com/opencloud-eu
    - Plex:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/plex.svg
          href: https://docs.linuxserver.io/images/docker-plex/
    - Portainer:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/portainer.svg
          href: https://github.com/portainer/portainer
    - Prometheus:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/prometheus.svg
          href: https://github.com/prometheus/prometheus
    - Prowlarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/prowlarr.svg
          href: https://github.com/prowlarr/prowlarr
    - qBittorrent:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/qbittorrent.svg
          href: https://github.com/qbittorrent/qBittorrent
    - qui:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/qui.svg
          href: https://github.com/autobrr/qui
    - Radarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/radarr.svg
          href: https://github.com/Radarr/Radarr
    - Recyclarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/recyclarr.svg
          href: https://github.com/recyclarr/recyclarr
    - Redis:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/redis.svg
          href: https://github.com/redis/redis
    - SABnzbd:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/sabnzbd.svg
          href: https://github.com/sabnzbd/sabnzbd
    - Scraparr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/scraparr.svg
          href: https://github.com/thecfu/scraparr
    - Seerr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/seerr.svg
          href: https://github.com/seerr-team/seerr
    - Sonarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/sonarr.svg
          href: https://github.com/Sonarr/Sonarr
    - Sportarr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/sportarr.svg
          href: https://github.com/Sportarr/Sportarr
    - Stash:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/stash.svg
          href: https://github.com/stashapp/stash
    - SyncThing:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/syncthing.svg
          href: https://github.com/syncthing/syncthing
    - Tautulli:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/tautulli.svg
          href: https://github.com/tautulli/tautulli
    - Technitium:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/technitium.svg
          href: https://github.com/TechnitiumSoftware/DnsServer
    - TheLounge:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/the-lounge.svg
          href: https://github.com/thelounge/thelounge
    - Theme-Park:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/png/theme-park.png
          href: https://github.com/themepark-dev/theme.park
    - Traefik:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/traefik.svg
          href: https://github.com/traefik/traefik
    - Unifi-OS:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/ubiquiti-unifi.svg
          href: https://github.com/lemker/unifi-os-server
    - Unpackerr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/unpackerr.webp
          href: https://github.com/Unpackerr/unpackerr/
    - Uptime-Kuma:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/uptime-kuma.svg
          href: https://github.com/louislam/uptime-kuma
    - Vaultwarden:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/vaultwarden.svg
          href: https://github.com/dani-garcia/vaultwarden
    - Whisparr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/whisparr.svg
          href: https://github.com/whisparr/whisparr
    - ZNC:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/webp/znc.webp
          href: https://github.com/znc/znc

- providers:
    - Cloudflare:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/cloudflare.svg
          href: https://github.com/cloudflare/terraform-provider-cloudflare
    - GitHub:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/github.svg
          href: https://github.com/integrations/terraform-provider-github
    - Proxmox:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/proxmox.svg
          href: https://github.com/bpg/terraform-provider-proxmox
    - Seerr:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/seerr.svg
          href: https://github.com/josh-archer/terraform-provider-seerr/tree/v0.7.1
    - Technitium:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/technitium.svg
          href: https://github.com/kevynb/terraform-provider-technitium
    - Uptime-Kuma:
        - icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/uptime-kuma.svg
          href: https://github.com/breml/terraform-provider-uptimekuma
