---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- arrs:
    - Bazarr:
        icon: bazarr.svg
        href: https://bazarr.int.{{ cloudflare_zone }}:8443
        description: PVR (Subtitles)
        widget:
          type: bazarr
          url: http://bazarr:6767
          key: {{ bazarr_api }}
          fields: ["missingEpisodes", "missingMovies"]
    - Lidarr:
        icon: lidarr.svg
        href: https://lidarr.int.{{ cloudflare_zone }}:8443
        description: PVR (Music)
        widget:
          type: lidarr
          url: http://lidarr:8686
          key: {{ lidarr_api }}
          fields: ["wanted", "queued", "artists"]
    - Prowlarr:
        icon: prowlarr.svg
        href: https://prowlarr.int.{{ cloudflare_zone }}:8443
        description: The Middleman
        widget:
          type: prowlarr
          url: http://prowlarr:9696
          key: {{ prowlarr_api }}
          fields: ["numberOfGrabs", "numberOfQueries", "numberOfFailGrabs", "numberOfFailQueries"]
    - Radarr:
        icon: radarr.svg
        href: https://radarr.int.{{ cloudflare_zone }}:8443
        description: PVR (Movies)
        widget:
          type: radarr
          url: http://radarr:7878
          key: {{ radarr_api }}
          fields: ["wanted", "missing", "queued", "movies"]
          enableQueue: false
    - Radarr-4K:
        icon: radarr.svg
        href: https://radarr-4k.int.{{ cloudflare_zone }}:8443
        description: PVR (4K-Movies)
        widget:
          type: radarr
          url: http://radarr-4k:7878
          key: {{ radarr_4k_api }}
          fields: ["wanted", "missing", "queued", "movies"]
          enableQueue: false
    - Sonarr:
        icon: sonarr.svg
        href: https://sonarr.int.{{ cloudflare_zone }}:8443
        description: PVR (TV)
        widget:
          type: sonarr
          url: http://sonarr:8989
          key: {{ sonarr_api }}
          fields: ["wanted", "queued", "series"]
          enableQueue: false
    - Sonarr-4K:
        icon: sonarr.svg
        href: https://sonarr-4k.int.{{ cloudflare_zone }}:8443
        description: PVR (4K-TV)
        widget:
          type: sonarr
          url: http://sonarr-4k:8989
          key: {{ sonarr_4k_api }}
          fields: ["wanted", "queued", "series"]
          enableQueue: false
    - Sportarr:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/sportarr.svg
        href: https://sportarr.int.{{ cloudflare_zone }}:8443
        description: PVR (Sport)
    - Whisparr:
        icon: whisparr.svg
        href: https://whisparr.int.{{ cloudflare_zone }}:8443
        description: PVR (Adult)

- gaming:
    - RomM:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/svg/romm.svg
        href: https://romm.int.{{ cloudflare_zone }}:8443
        description: ROM library and browser player
        widget:
          type: romm
          url: http://romm:8080
          fields: ["platforms", "totalRoms", "saves", "states"]

- media:
    - Autobrr:
        icon: autobrr.svg
        href: https://autobrr.int.{{ cloudflare_zone }}:8443
        description: Download automation tool for torrents
        widget:
          type: autobrr
          url: http://autobrr:7474
          key: {{ autobrr_api }}
          fields: ["approvedPushes", "rejectedPushes", "filters", "indexers"]
    - Ombi:
        icon: ombi.svg
        href: http://ombi.int.{{ cloudflare_zone }}:8443
        description: Content Requests for Plex/Emby
        widget:
          type: ombi
          url: http://ombi:3579
          key: {{ ombi_api }}
          fields: ["pending", "approved", "available"]
    - OpenCloud:
        icon: open-cloud.svg
        href: https://opencloud.int.{{ cloudflare_zone }}:8443
        description: Cloud Storage.. but Local
    - Seerr:
        icon: seerr.svg
        href: https://seerr.int.{{ cloudflare_zone }}:8443
        description: Content Requests for Plex/Emby/Jellyfin
        widget:
          type: seerr
          url: http://seerr:5055
          key: {{ seerr_api }}
          fields: ["pending", "approved", "available", "completed", "processing", "issues"]
    - Stash:
        icon: stash.svg
        href: https://stash.int.{{ cloudflare_zone }}:8443
        description: Plex for P*rn
        widget:
          type: stash
          url: http://stash:9999
          key: {{ stash_api }}
          fields: ["scenes", "images"]
    - TheLounge:
        icon: thelounge.svg
        href: https://thelounge.int.{{ cloudflare_zone }}:8443
        description: IRC Client
    - ZNC:
        icon: znc.png
        href: https://znc.int.{{ cloudflare_zone }}:8443
        description: IRC Bouncer

- monitoring:
    - Grafana:
        icon: grafana.svg
        href: https://grafana.int.{{ cloudflare_zone }}:8443
        description: Data visualization platform
        widget:
          type: grafana
          url: http://grafana:3000
          username: {{ grafana_user }}
          password: {{ grafana_pass }}
          fields: ["dashboards", "datasources", "totalalerts", "alertstriggered"]
    - Portainer:
        icon: portainer.svg
        href: https://portainer.int.{{ cloudflare_zone }}:8443
        description: Docker Manager
        widget:
          type: portainer
          url: http://portainer:9000
          env: 1
          key: {{ portainer_token }}
          fields: ["running", "stopped", "total"]
    - Prometheus:
        icon: prometheus.svg
        href: https://prometheus.int.{{ cloudflare_zone }}:8443
        description: Metrics monitoring system
        widget:
          type: prometheus
          url: http://prometheus:9090
          fields: ["targets_up", "targets_down", "targets_total"]

- network:
    - Traefik:
        icon: traefik-proxy.svg
        href: https://traefik.{{ cloudflare_zone }}
        description: Traefik Reverse Proxy
        widget:
          type: traefik
          url: http://traefik:8080
          fields: ["routers", "services", "middleware"]
    - Technitium:
        icon: technitium.png
        href: http://192.168.80.48:5380
        description: Technitium DNS
        widget:
          type: technitium
          url: http://192.168.80.48:5380
          key: {{ technitium_token }}
          fields: ["totalQueries", "totalRecursive", "totalBlocked", "totalClients"]
          range: LastDay

- plex:
    - Plex:
        icon: plex.svg
        href: http://192.168.80.59:32400
        description: Plex Media Server
        widget:
          type: plex
          url: http://plex:32400
          key: {{ plex_token }}
          fields: ["streams", "albums", "movies", "tv"]
    - Tautulli:
        icon: tautulli.svg
        href: https://tautulli.int.{{ cloudflare_zone }}:8443
        description: Plex Monitoring
        widget:
          type: tautulli
          url: http://tautulli:8181
          key: {{ tautulli_api }}
          enableUser: true
          showEpisodeNumber: true
          expandOneStreamToTwoRows: true

- torrents:
    - qBittorrent:
        icon: qbittorrent.svg
        href: https://qbittorrent.int.{{ cloudflare_zone }}:8443/
        description: Torrent download client
        widget:
          type: qbittorrent
          url: {{ qui_downloads_token }}
          fields: ["leech", "download", "seed", "upload"]
          enableLeechProgress: false
    - qBittorrent-XS:
        icon: qbittorrent.svg
        href: https://qbittorrent-xs.int.{{ cloudflare_zone }}:8443
        description: Torrent download client
        widget:
          type: qbittorrent
          url: {{ qui_seeds_token }}
          fields: ["leech", "download", "seed", "upload"]
          enableLeechProgress: false

- usenet:
    - SABnzbd:
        icon: sabnzbd.svg
        href: https://sabnzbd.int.{{ cloudflare_zone }}:8443
        description: Usenet download client
        widget:
          type: sabnzbd
          url: http://sabnzbd:8080
          key: {{ sabnzbd_api }}
          fields: ["rate", "queue", "timeleft"]

- utilities:
    - Syncthing:
        icon: syncthing.svg
        href: https://syncthing.int.{{ cloudflare_zone }}:8443
        description: Save/state/device sync
    - Dozzle:
        icon: dozzle.svg
        href: https://dozzle.int.{{ cloudflare_zone }}:8443
        description: Real-time Docker log viewer
    - Vaultwarden:
        icon: vaultwarden.png
        href: https://vaultwarden.{{ cloudflare_zone }}
        description: Password Manager
