---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Cyberdyne Systems

description: Putting the net in Skynet.

theme: dark
useEqualHeights: true

layout:
  arrs:
    style: row
    columns: 2
  media:
    style: row
    columns: 2
  monitoring:
    style: row
    columns: 2
  network:
    style: row
    columns: 2
  plex:
    style: row
    columns: 2
  torrents:
    style: row
    columns: 3
  usenet:
    style: row
    columns: 3
  utilities:
    style: row
    columns: 2
  services:
    style: row
    columns: 5
  providers:
    style: row
    columns: 5
