ETCD_NAME="{{ postgres_etcd_node_name }}"
ETCD_DATA_DIR="{{ postgres_etcd_data_dir }}"

ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:{{ postgres_etcd_client_port }},http://{{ local_ip }}:{{ postgres_etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ local_ip }}:{{ postgres_etcd_client_port }}"

ETCD_LISTEN_PEER_URLS="http://{{ local_ip }}:{{ postgres_etcd_peer_port }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ local_ip }}:{{ postgres_etcd_peer_port }}"

ETCD_INITIAL_CLUSTER="{{ postgres_etcd_initial_cluster | replace(' ', '') }}"
ETCD_INITIAL_CLUSTER_STATE="{{ postgres_etcd_initial_cluster_state }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ postgres_etcd_cluster_token }}"