---

scope: {{ postgres_patroni_scope }}
namespace: {{ postgres_patroni_namespace }}
name: {{ postgres_patroni_node_name }}

restapi:
  listen: 0.0.0.0:{{ postgres_patroni_restapi_port }}
  connect_address: {{ local_ip }}:{{ postgres_patroni_restapi_port }}

etcd3:
  hosts:
{% for host in postgres_patroni_etcd_hosts %}
    - {{ host }}
{% endfor %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      pg_hba:
        - "local all all peer"
        - "host all all 127.0.0.1/32 scram-sha-256"
        - "host all all ::1/128 scram-sha-256"
        - "host replication {{ postgres_patroni_replication_name }} 127.0.0.1/32 scram-sha-256"
        - "host replication {{ postgres_patroni_replication_name }} ::1/128 scram-sha-256"
{% for host in groups['tags_postgres'] | default([]) | sort %}
        - "host replication {{ postgres_patroni_replication_name }} {{ hostvars[host].local_ip }}/32 scram-sha-256"
{% endfor %}
{% for host in groups['tags_postgres'] | default([]) | sort %}
        - "host all {{ postgres_patroni_superuser_name }} {{ hostvars[host].local_ip }}/32 scram-sha-256"
{% endfor %}
{% for host in groups['tags_postgres'] | default([]) | sort %}
        - "host all {{ postgres_patroni_admin_role_name }} {{ hostvars[host].local_ip }}/32 scram-sha-256"
{% endfor %}
{% for host in groups['tags_haproxy'] | default([]) | sort %}
        - "host all all {{ hostvars[host].local_ip }}/32 scram-sha-256"
{% endfor %}
{% for rule in postgres_patroni_pg_hba_extra | default([]) %}
        - "{{ rule }}"
{% endfor %}
      parameters:
        max_connections: 100
        shared_buffers: 1GB
        wal_level: replica
        hot_standby: on
        max_wal_senders: 10
        max_replication_slots: 10
        wal_keep_size: 1GB
        max_worker_processes: 8
        max_locks_per_transaction: 64
        max_prepared_transactions: 0
        track_commit_timestamp: off
        password_encryption: scram-sha-256
  initdb:
    - encoding: UTF8
    - data-checksums

postgresql:
  listen: 0.0.0.0:{{ postgres_patroni_postgres_port }}
  connect_address: {{ local_ip }}:{{ postgres_patroni_postgres_port }}
  data_dir: {{ postgres_patroni_data_dir }}
  bin_dir: {{ postgres_patroni_bin_dir }}
  authentication:
    superuser:
      username: {{ postgres_patroni_superuser_name }}
      password: {{ postgres_patroni_superuser_pass }}
    replication:
      username: {{ postgres_patroni_replication_name }}
      password: {{ postgres_patroni_replication_pass }}
  parameters:
    max_connections: 100
    shared_buffers: 1GB
    wal_level: replica
    hot_standby: on
    max_wal_senders: 10
    max_replication_slots: 10
    wal_keep_size: 1GB
    max_worker_processes: 8
    max_locks_per_transaction: 64
    max_prepared_transactions: 0
    track_commit_timestamp: off
    password_encryption: scram-sha-256

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
