{% for environment_name, environment_value in postgres_backup_remote_resolved_backend_environment | dictsort %}
{{ environment_name }}='{{ environment_value | string | replace("'", "'\"'\"'") }}'
{% endfor %}
